<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/home-page.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>GUESS THE WORD</h1>

		<div class="containt">
			<div class="game-rule">
				<h2>Game Rule</h2>
				<div class="p1">
					<ul>
						<li>You have to guess a word related to family members, which
							will be hidden. Enter a letter into the input box to complete the
							guessed word, and if the entered word matches, it will display on
							the screen.</li>
						<li>For example, the hidden word could be "son", "daughter", "brother",
							"father", or "mother".</li>
						<li>You will get a maximum of five chances to complete the
							hidden word.</li>

					</ul>
				</div>
			</div>

			<div class="foot">
				<form action="game-home" method="GET" id="form">
					<h2>Want to Play ?</h2>
					<button>Click</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>